<li>
    <% if user.topimage? %>
    <%= image_tag user.topimage.url, class:"profile_img" ,size: 50%>
    <% elsif user.tuimage? %>
    <%= image_tag user.tuimage, class:"profile_img" ,size: 50%>
    <% else %>
    <%= link_to gravatar_for(user, size: 50), user %>
    <% end %>
    <%= link_to user.name, user %>
    <% if user.admin? && !user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
</li>