<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 activity_create">
    <section class="user_info">
      <h1>
        <% if @user.name.nil? %>
        <%= gravatar_for @user %>
        <% else %>
        <%= image_tag @user.topimage, class:"profile_img" %>
        <% end %>
      </h1>
      <h2><%= @user.name %></h2>
    </section>
  </aside>
  <div class="col-md-8">
    
      <h3>Microposts (<%= @microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    
  </div>
</div>