<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 activity_create">
    <section class="user_info">
      <h1>
        <% if current_user.topimage? %>
        <%= image_tag current_user.topimage.url, class:"profile_img" ,size: 100%>
        <% elsif current_user.tuimage? %>
        <%= image_tag current_user.tuimage, class:"profile_img" ,size: 100%>
        <% else %>
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <% end %>
      </h1>
      <h2><%= @user.name %></h2>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Microposts (<%= @microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= paginate @microposts %>








    <div id="hoge" data-hoge-id="<%= @postdata.to_json %>"></div>
    <div id="title"><h2>timeline</h2></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load("current", {
        packages: ["timeline"]
      });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('example2.1');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        var test = $('#hoge').data('hoge-id');

        dataTable.addColumn({
          type: 'string',
          id: 'Term'
        });
        dataTable.addColumn({
          type: 'string',
          id: 'Name'
        });
        dataTable.addColumn({
          type: 'date',
          id: 'Start'
        });
        dataTable.addColumn({
          type: 'date',
          id: 'End'
        });

        for (var i = 0, len = test.length; i < len; ++i) {
          var today = new Date(test[i][1])
          var today_month = today.getMonth() + 1
          var start = new Date(test[i][1])
          var end = new Date(test[i][2])
          dataTable.addRows([
            [today.getFullYear() + "/" + today_month + "/" + today.getDate(),
              test[i][0],
              new Date(0,0,0,start.getHours(),start.getMinutes(),start.getSeconds()),
              new Date(0,0,0,end.getHours(),end.getMinutes(),end.getSeconds())
            ]
          ]);
        }

        var options = {
          hAxis: {
            minValue: new Date(0,0,0,0,0,0), // example dates...
            maxValue: new Date(0,0,0,24,0,0)
          }
        }

        chart.draw(dataTable,options);
      }
    </script>

    <div id="example2.1" style="height: 200px;"></div>






  </div>
</div>