<%= form_for(@activity) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, class: 'form-control', placeholder: "Compose new activitytitle..." %>
  </div>
  <div class="form-group">
    <%= f.select :category, ['学習', 'プログラミング', '読書', 'スポーツ', '音楽', '芸術'], {include_blank: 'カテゴリ選択'}, class: 'sample' %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>