<% if current_user.topimage? %>
<%= image_tag current_user.topimage.url, class:"profile_img" ,size: 100%>
<% elsif current_user.tuimage? %>
<%= image_tag current_user.tuimage, class:"profile_img" ,size: 100%>
<% else %>
<%= link_to gravatar_for(current_user, size: 50), current_user %>
<% end %>
<h2><%= current_user.name %></h2>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.activities.count, "activity") %></span>