<% provide(:title, @activity.title) %>
<div class="row mx-auto" style="width: 600px;">
  <aside class="col-md-12">
    <section class="user_info">
                  <div class="timer" id="timer">0:00:00</div>
                  <div><%= @activity.id %></a>
                  <div><%= @micropost.id%></a>
                  <div><%= @micropost.start_at%></a>
                  <div><%= @micropost.finish_at%></a>
                  <div><%= @micropost.activity_id%></a>
    

                <div class="center">
                  <button type="button" class="btn btn-primary">
                      <%= link_to "終了",@micropost,method: :get,action: :finish,class:"link-to"%></button>
                </div>
                <%= javascript_include_tag "timer" %>
    </section>
</div>