<% provide(:title, @activity.title) %>
<div class="row mx-auto" style="width: 600px;">
    <section class="col-md-12">
      <div class="timer" id="timer">0:00:00</div>
      <%= form_for(@micropost) do |f| %>
      <div class="field">
        <%= f.text_area :memo, class: 'form-control', placeholder: "アクティビティに関するメモ" %>
      </div>
      <%= f.submit "終了", class: "btn btn-primary" %>
      <% if current_user.uid? %>
      <button type="button" class="btn btn-social btn-twitter" data-toggle="modal" data-target="#post">
      <span class="fa fa-twitter"></span> ツイートする</button>
      <% end %>
      <div class="container text-center">
        <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                  <%= f.text_area :memo, class: "form-control", placeholder: "ツイート内容を入力" %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                  <%= f.submit "つぶやく",name: "tweet",class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= javascript_include_tag "timer" %>
    </section>
</div>