<li id="activity-<%= activity.id %>">
  <div class="card">
    <%= image_tag activity.picture.url,calss:"card-img-top" if activity.picture? %>
    <div class="card-header">
      <%= activity.title %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= activity.category %></p>
      <a class="timestamp">
        Posted <%= time_ago_in_words(activity.created_at) %> ago.
      </a>
    </div>
    <div class="card-footer">
      <button id="start" class="btn btn-primary ">
        <%= link_to "記録する",activity,class:"link-to" %></button>
      <% if current_user == User.find_by(email: 'guest@sample.jp') %>
      <a href="#" class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">削除無効</a>
      <% elsif current_user?(activity.user) %>
      <button class="btn btn-primary "><%= link_to "削除", activity, method: :delete,class:"link-to",
                                         data: { confirm: "You sure?" } %></button>
      <% end %>
    </div>
  </div>
</li>